
<div class="w-4/5 ">
    <div class="flex flex-row gap-x-5 bg-indigo-300 w-full">
        <div class=" bg-neutral-400 ">
            <i class="fas fa-user-edit text-gray-400 text-md"></i>
            <i class="fas fa-user-edit text-gray-400 text-md"></i>
        </div>
        <div class=" bg-red-500 w-full" [ngClass]="{
        '-translate-x-2/4':myEvent === 'left',
        'translate-x-2/4':myEvent=== 'right'      }">
            <p class="rules">
                swipe over here with a touch device
            </p>
            <p class="rules">
                check the console for the relative event
            </p>
        </div>
        <div class="flex flex-row bg-neutral-800 ">
            <span><i class="fas fa-user-edit text-gray-400 text-md"></i></span>
            <span><i class="fas fa-user-edit text-gray-400 text-md"></i></span>
          
          

        </div>
    </div>
</div>
<p>
    event: {{myEvent}}
</p>


<div class="relative w-4/5 bg-neutral-200 h-20">
    <div>Relative parent</div>
    <div class="absolute bottom-0 left-0 bg-neutral-400 w-full h-full">
      <p>Absolute child</p>
    </div>
  </div>

