<nz-content>

    <div class="flex flex-col p-5">
        <div nz-row class="items-center p-2">
            <div nz-col nzSpan="12">
                <i class="fas fa-list-alt text-green-500 text-lg"></i>&nbsp;
                Ward List
            </div>
            <div nz-col nzSpan="12" class="flex justify-end items-center">
                <!-- <div #exemplo>hllloooo{{myEvent}}***{{deviceType}}</div> -->
                ...
            </div>
        </div>
        <div class="inner-content">            

            <div class="rounded-lg border-blue-200 border-2 p-5">

                <div class="flex flex-wrap justify-center gap-4">
                    <ngx-spinner bdColor="rgba(0,0,0,0.3)" color="#fff" type="ball-clip-rotate-multiple" size="large" [fullScreen]="false">
                        <p style="color: white;margin-top: 30px;">Loading Datas...</p>
                        <!--if fullscreen false  Your parent container(div) should have position: relative;  -->
                    </ngx-spinner>
                    <!-- class="flex flex-row shadow-xl rounded-lg  bg-emerald-100  border-2 border-green-300 p-5 lg:w-[30%] md:w-[45%] sm:w-[45%] xl:w-[15%] 2xl:w-[20%]"> -->

                    <div (click)="navigatePatient(ward)" *ngFor="let ward of wards; let i = index" class="flex flex-row justify-between  shadow-xl rounded-lg  bg-emerald-100  border-2 border-green-300 p-5 min-w-60 w-1/2 xs:w-11/12 sm:w-1/2 md:w-1/4 lg:w-1/4 xl:w-1/5 xxl:w-1/6">
                        <div>
                            <button class="rounded-full border-2 w-15 h-15 p-4 bg-green-100  border-green-300">
                                <i class="fa-solid fa-building-user text-green-600 text-[20px]"></i>
                            </button>
                        </div>
                        <div class="flex flex-col content-center">
                            <div class="flex font-bold justify-end text-5xl">
                                {{i}}
                            </div>
                            <div class="flex justify-end text-right text-sm font-bold">
                                {{ward.name}}
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</nz-content>