<nz-content>
    <div nz-row class="items-center">
        <div nz-col nzSpan="12">
            <nz-breadcrumb>
                <nz-breadcrumb-item>
                    <i class="fas fa-list-alt text-green-500 text-lg"></i>&nbsp;
                    ข้อมูลผู้ป่วย
                </nz-breadcrumb-item>
            </nz-breadcrumb>
        </div>
        <div nz-col nzSpan="12" class="flex justify-end items-center">
            <nz-button-group class="border-0">
                <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight"
                    class="rounded-2xl flex justify-end items-center bg-inherit">
                    สวัสดีคุณ :{{user_login_name}}&nbsp;<span nz-icon nzType="user"
                        class="text-green-500 text-md"></span>
                </button>
            </nz-button-group>
            <nz-dropdown-menu #menu2="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item><i class="fas fa-user-edit text-gray-400 text-md"></i>&nbsp;User Profies</li>
                    <li nz-menu-item><i class="fas fa-user-edit text-gray-400 text-md"></i>&nbsp;Avartar</li>
                    <li nz-menu-item (click)="logOut()"><i class="fas fa-power-off text-gray-400 text-md"></i>&nbsp;Log
                        Out</li>
                </ul>
            </nz-dropdown-menu>
        </div>
    </div>
    <nz-page-header style="background-color: white;" class="site-page-header" nzTitle="ข้อมูลผู้ป่วย">
    </nz-page-header>
    <div class="inner-content">

        <div class="rounded-lg border-blue-200 border-2 p-5">




            <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-5 w-full min-w-80 mb-5">

                <div class="flex flex-row w-full">

                    
                        <div class="flex flex-col w-full content-center">
                            <div class="flex text-sm font-bold">
                                AN 65000001 HN 123456<br>
                                แพทย์ : นพ.ศักรินทร์ เป็นต่อ<br>
                                เพศ : ชาย อายุ : 60 ปี<br>
                                สิทธิการรักษา : ประกันสังคม<br>
                            </div>

                        </div>
                    

                    <div class="flex w-48">
                        <div>
                            <nz-avatar [nzSize]="128" nzIcon="user"></nz-avatar>
                            
                          </div>
                    </div>

                </div>


            </div>

            <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-5 w-full min-w-80 mb-5">

                <div>
                    <div class="flex flex-col  w-48 content-center">
                        <div class="flex text-sm font-bold">
                            CC : มีบาดแผลที่ขาซ้าย และแขนซ้าย<br>
                            PI : xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                            xxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
                            PH : ccccccccccccccccccccccccccccccccccccccccccccccccccccc<br>
                            ccccccccccccccc
                            Allergy : Penicillin<br>
                            Previous Diagnosis : Facture left arm<br>
                            Vital Sing :<br>
                            BT : 36.8 ํC BP : 107/2=72 PR : 80/m RR : 18/m น้ำหนัก : 50.0<br>
                            kg ส่วนสูง : 149.0 cm<br>
                            PE : WNL<br>
                        </div>

                    </div>
                </div>



            </div>





        </div>



    </div>
</nz-content>