<nz-content>

    <div class="flex flex-col p-5">
        <div nz-row class="items-center p-2">
            <div nz-col nzSpan="12">
                <i class="fas fa-list-alt text-green-500 text-lg"></i>&nbsp;
                Progess Note
            </div>
            <div nz-col nzSpan="12" class="flex justify-end items-center">
                
               
            </div>
        </div>
        <div class="inner-content">            

            <div class="rounded-lg border-blue-200 border-2 p-5">

                <div class="flex flex-col justify-center gap-2">
                    <div class="flex flex-col">
                        <div>
                            <span>Subjective</span>
                        </div>
                        <div class="flex flex-col gap-2">
                            <label nz-checkbox >ปกติ</label>
                            <label nz-checkbox >ปกติ</label>
                            <label nz-checkbox >ปกติ</label>
                            <label nz-checkbox >ปกติ</label>
                            <label nz-checkbox >ปกติ</label>
                        </div>
                    </div>
                  
                    <hr>
                      
                    <div class="flex flex-col">
                        <div>
                            <span>Objective</span>
                        </div>
                        <div class="flex flex-col gap-2">
                            <label nz-checkbox >ปกติ</label>
                            <label nz-checkbox >ปกติ</label>
                            <label nz-checkbox >ปกติ</label>
                            <label nz-checkbox >ปกติ</label>
                            <label nz-checkbox >ปกติ</label>
                        </div>
                    </div>
                    <hr>  
                    <div class="flex flex-col">
                        <div>
                            <span>Assessment</span>
                        </div>
                        <div class="flex flex-col gap-2">
                            <label nz-checkbox >ปกติ</label>
                            <label nz-checkbox >ปกติ</label>
                            <label nz-checkbox >ปกติ</label>
                            <label nz-checkbox >ปกติ</label>
                            <label nz-checkbox >ปกติ</label>
                        </div>
                    </div>
                    <hr>      
                    <div class="flex flex-col">
                        <div>
                            <span>Plan</span>
                        </div>
                        <div class="flex flex-col gap-2">
                            <label nz-checkbox >ปกติ</label>
                            <label nz-checkbox >ปกติ</label>
                            <label nz-checkbox >ปกติ</label>
                            <label nz-checkbox >ปกติ</label>
                            <label nz-checkbox >ปกติ</label>
                        </div>
                    </div>      

                </div>

            </div>

        </div>
    </div>
</nz-content>