<nz-content>
    <div nz-row class="items-center p-2">
        <div nz-col nzSpan="12">
            <i class="fas fa-list-alt text-green-500 text-lg"></i>&nbsp;
            Doctor Order
        </div>
        <div nz-col nzSpan="12" class="flex justify-end items-center">
            ...
        </div>
    </div>

    <div class="bg-white p-1">

        <div class="rounded-lg border-blue-200 border-2">

            <div class="flex flex-row rounded-t-lg bg-emerald-100  p-4 w-full min-w-80 mb-5">

                <div class="flex flex-row w-full">

                    <div class="flex flex-col w-full content-center">
                        <div class="flex text-sm font-bold">
                            <p>นายทดสอบ อะนะ</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <p>อายุ : 60 ปี เพศ : ชาย AN 65000001 HN 123456</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <nz-divider></nz-divider> -->
            <!-- <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-1 w-full min-w-50 mb-5 gap-1"> -->
            <!-- <div class="flex flex-col  w-48 content-center bg-slate-400">
                        <div class="flex text-sm font-bold">
                            <div class="text-2xl">
                                <i class="fas fa-file-signature"></i>
                            </div>&nbsp;&nbsp;
                            Progress Note<br>
                            
                        </div>
                    </div> -->

            <!-- </div> -->

            <div class="flex flex-row w-full gap-3 px-3 pb-3">
                <div class="w-1/3">
                    <div>
                        <span><nz-ribbon nzText="+ Standing">
                                <nz-card nzTitle="Progess Note" nzSize="small">
                                    <div class="flex flex-row w-full">
                                        <div class="w-4">
                                            S:
                                        </div>
                                        <div class="grow">
                                            <input nz-input placeholder="ระบุ Progress Note" [(ngModel)]="progressValue" />
                                        </div>&nbsp;&nbsp;

                                    </div>
                                    <div class="flex flex-row w-full mt-1">
                                        <div class="w-4">
                                            O:
                                        </div>
                                        <div class="grow">
                                            <input nz-input placeholder="ระบุ Progress Note" [(ngModel)]="progressValue" />
                                        </div>&nbsp;&nbsp;

                                    </div>
                                    <div class="flex flex-row w-full mt-1">
                                        <div class="w-4">
                                            A:
                                        </div>
                                        <div class="grow">
                                            <input nz-input placeholder="ระบุ Progress Note" [(ngModel)]="progressValue" />
                                        </div>&nbsp;&nbsp;

                                    </div>
                                    <div class="flex flex-row w-full mt-1">
                                        <div class="w-4">
                                            P:
                                        </div>
                                        <div class="grow">
                                            <input nz-input placeholder="ระบุ Progress Note" [(ngModel)]="progressValue" />
                                        </div> <br>
                                        <div class="w-8 ml-1 flex items-center">
                                            <button class="bg-emerald-400 text-white font-bold text-xl p-2 flex items-center justify-center shadow-md rounded-full w-15 h-15" (click)="addProgressNote()">
                                                <span nz-icon nzType="plus" nzTheme="outline"></span></button>
                                        </div>

                                    </div>
                                </nz-card>
                            </nz-ribbon></span>
                    </div>
                    <div class="p-2">
                        <nz-tag nzColor="cyan" class="text-black" *ngFor="let tag of progressTags; let i = index" [nzMode]="i === 0 ? 'default' : 'closeable'"
                            (nzOnClose)="handleCloseProgress(progressTags)">
                            {{ sliceTagNameProgress(tag) }}
                        </nz-tag>
                    </div>
                    <nz-divider></nz-divider>
                    <div>
                        <nz-card nzTitle="Progess Note [ ก่อนหน้านี้ ]" nzSize="small">
                            <div class="flex flex-col w-full">
                                <div class="grow rounded-md border border-sky-200 p-2 mb-2">
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                </div>
                                <div class="grow rounded-md border border-sky-200 p-2">
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                </div>
                            </div>
                        </nz-card>
                    </div>
                </div>
                <div class="w-1/3">
                    <div>
                        <span><nz-ribbon nzText="+ Standing">
                                <nz-card nzTitle="Order One Day" nzSize="small">
                                    <div class="flex flex-row w-full">
                                        <div class="grow">
                                            <input nz-input placeholder="ระบุ One day Order" [(ngModel)]="onedayValue" />
                                        </div>&nbsp;&nbsp;
                                        <div class="w-8">
                                            <button class="bg-emerald-400 text-white font-bold text-xl p-2 flex items-center justify-center shadow-md rounded-full w-15 h-15" (click)="addOneday()">
                                                <span nz-icon nzType="plus" nzTheme="outline"></span></button>
                                        </div>
                                    </div>

                                </nz-card>
                            </nz-ribbon></span>
                    </div>

                    <div class="p-2">
                        <nz-tag nzColor="cyan" class="text-black" *ngFor="let onedayTags of onedayTags; let i = index" [nzMode]="i === 0 ? 'default' : 'closeable'"
                            (nzOnClose)="handleCloseOneday(onedayTags)">
                            {{ sliceTagNameOneday(onedayTags) }}
                        </nz-tag>
                    </div>
                    <nz-divider></nz-divider>
                    <div>
                        <nz-card nzTitle="Order One Day [ ก่อนหน้านี้ ]" nzSize="small">
                            <div class="flex flex-col w-full">
                                <div class="grow rounded-md border border-sky-200 p-2 mb-2">
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                </div>
                                <div class="grow rounded-md border border-sky-200 p-2">
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                </div>
                            </div>
                        </nz-card>
                    </div>
                </div>
                <div class="w-1/3 ">
                    <div>
                        <span><nz-ribbon nzText="+ Standing">
                                <nz-card nzTitle="Continue Order" nzSize="small">
                                    <div class="flex flex-row w-full">
                                        <div class="grow">
                                            <input nz-input placeholder="ระบุ Continue Order" [(ngModel)]="continueValue" />
                                        </div>&nbsp;&nbsp;
                                        <div class="w-8">
                                            <button class="bg-emerald-400 text-white font-bold text-xl p-2 flex items-center justify-center shadow-md rounded-full w-15 h-15" (click)="addContinue()">
                                                <span nz-icon nzType="plus" nzTheme="outline"></span></button>
                                        </div>
                                    </div>
                                </nz-card>
                            </nz-ribbon></span>
                    </div>
                    <div class="p-2">
                        <nz-tag nzColor="cyan" class="text-black" *ngFor="let continueTags of continueTags; let i = index" [nzMode]="i === 0 ? 'default' : 'closeable'"
                            (nzOnClose)="handleCloseContinue(continueTags)">
                            {{ sliceTagNameContinue(continueTags) }}
                        </nz-tag>
                    </div>
                    <nz-divider></nz-divider>
                    <div>
                        <nz-card nzTitle="Continue Order [ ก่อนหน้านี้ ]" nzSize="small">
                            <div class="flex flex-col w-full">
                                <div class="grow rounded-md border border-sky-200 p-2 mb-2">
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                </div>
                                <div class="grow rounded-md border border-sky-200 p-2">
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                    <p>Card content</p>
                                </div>
                            </div>
                        </nz-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nz-content>