<nz-content>
    <div nz-row class="items-center">
        <div nz-col nzSpan="12">
            <nz-breadcrumb>
                <nz-breadcrumb-item>
                    <i class="fas fa-list-alt text-green-500 text-lg"></i>&nbsp;
                    Admission Note
                </nz-breadcrumb-item>
            </nz-breadcrumb>
        </div>
        <!-- <div nz-col nzSpan="12" class="flex justify-end items-center">
            <nz-button-group class="border-0">
                <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight"
                    class="rounded-2xl flex justify-end items-center bg-inherit">
                    สวัสดีคุณ :{{user_login_name}}&nbsp;<span nz-icon nzType="user"
                        class="text-green-500 text-md"></span>
                </button>
            </nz-button-group>
            <nz-dropdown-menu #menu2="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item><i class="fas fa-user-edit text-gray-400 text-md"></i>&nbsp;User Profies</li>
                    <li nz-menu-item><i class="fas fa-user-edit text-gray-400 text-md"></i>&nbsp;Avartar</li>
                    <li nz-menu-item (click)="logOut()"><i class="fas fa-power-off text-gray-400 text-md"></i>&nbsp;Log
                        Out</li>
                </ul>
            </nz-dropdown-menu>
        </div> -->
    </div>
    <nz-page-header style="background-color: white;" class="site-page-header" nzTitle="Admission Note">
    </nz-page-header>
    <div class="inner-content">

   




            <div class="flex flex-row rounded-lg bg-emerald-100 shadow-md p-5 w-full min-w-80 mb-5">

                <div class="flex flex-row w-full">

                    
                        <div class="flex flex-col w-full content-center">
                            <div class="flex text-sm font-bold">
                                <p>นายทดสอบ อะนะ อายุ : 60 ปี เพศ : ชาย AN 65000001 HN 123456</p>
                               
                            </div>

                        </div>
                        

                    

                </div>
            </div>
      
            <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-5 w-full min-w-80 mb-5">

                <div>
                    <div class="flex flex-col  w-48 content-center">
                        <div class="flex text-sm font-bold">
                            ประวัติการเจ็บป่วย :<br>
     อาการสำคัญ (CC) : dfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdfdf<br>
     อาการเจ็บป่วยปัจจุบัน : gfgfgfgfgfgfgfgfgfgfgfgfgfgfgfgfgfg<br>
     อาการเจ็บป่วยในอดีต : sdsdsdsdsdsdsdsdsdsdsdsdsd<br>
                        </div>

                    </div>
                </div>
            </div>

            <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-5 w-full mb-5">

                <div>
                    <div class="flex flex-col w-full content-center">
                        การเจ็บป่วยที่ต้องได้รับการรักษาในโรงพยาบาล :<br>
                        
                            

                            <div class="flex flex-col w-[100%]">

                            <div class="flex p-2 flex-row">
                                <div class="w-64 p-2">
                                    โรคประจำตัว
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ไม่มี</label>  
                                </div>
                                <div class="p-2">
                                   มี(ระบุ) 
                                  </div>
                                  <div class="w-[50%] p-2">
                                    <input nz-input placeholder="Basic usage"  />
                                  </div>
                              </div>
                            
                            
                              <div class="flex p-2 flex-row">
                                <div class="w-64 p-2">
                                    การแพ้ยา
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ไม่มี</label>  
                                </div>
                                <div class="p-2">
                                    มี(ระบุ)
                                  </div>
                                  <div class="w-[50%] p-2">
                                    <input nz-input placeholder="Basic usage"  />
                                  </div>
                              </div>
                            

                              <div class="flex p-2 flex-row">
                                <div class="w-64 p-2">
                                    การผ่าตัด
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ไม่มี</label>  
                                </div>
                                <div class="p-2">
                                    มี(ระบุ)
                                  </div>
                                  <div class="w-[50%] p-2">
                                    <input nz-input placeholder="Basic usage"  />
                                  </div>
                              </div>
                            

                              <div class="flex p-2 flex-row">
                                <div class="w-64 p-2">
                                    การสูบบุหรี่
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ไม่มี</label>  
                                </div>
                                <div class="p-2">
                                    มี(ระบุ) 
                                  </div>
                                  <div class="w-[50%] p-2">
                                    <input nz-input placeholder="Basic usage"  />
                                  </div>
                              </div>
                            

                              <div class="flex p-2 flex-row">
                                <div class="w-64 p-2">
                                    การดื่มสุรา
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ไม่มี</label>  
                                </div>
                                <div class="p-2">
                                    มี(ระบุ)
                                  </div>
                                  <div class="w-[50%] p-2">
                                    <input nz-input placeholder="Basic usage"  />
                                  </div>
                              </div>


                              <div class="flex p-2 flex-row">
                                <div class="w-64 p-2">
                                    โรคประจำตัวหรือโรคทางพันธุกรรม
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ไม่มี</label>  
                                </div>
                                <div class="p-2">
                                    มี(ระบุ)
                                  </div>
                                  <div class="w-[50%] p-2">
                                    <input nz-input placeholder="Basic usage"  />
                                  </div>
                              </div>

                              <div class="flex p-2 flex-row">
                                <div class="w-64 p-2">
                                    การคุมกำเนิด
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ไม่มี</label>  
                                </div>
                                <div class="p-2">
                                    มี(ระบุ) 
                                  </div>
                                  <div class="w-[50%] p-2">
                                    <input nz-input placeholder="Basic usage"  />
                                  </div>
                              </div>

                              <div class="flex p-2 flex-row">
                                <div class="w-64 p-2">
                                    วัคซีน
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ไม่มี</label>  
                                </div>
                                <div class="p-2">
                                    มี(ระบุ) 
                                  </div>
                                  <div class="w-[50%] p-2">
                                    <input nz-input placeholder="Basic usage"  />
                                  </div>
                              </div>

                              <div class="flex p-2 flex-row">
                                <div class="w-64 p-2">
                                    พัฒนาการ
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ไม่มี</label>  
                                </div>
                                <div class="p-2">
                                    มี(ระบุ) 
                                  </div>
                                  <div class="w-[50%] p-2">
                                    <input nz-input placeholder="Basic usage"  />
                                  </div>
                              </div>
                            

                            </div>
                        

                    </div>
                </div>
            </div>


            <div class="flex flex-row rounded-lg bg-slate-100 shadow-md p-5 w-full mb-5">
                
                    <div class="flex flex-col content-center">
                        <div class="flex text-sm font-bold">
                            V/S HT: 158cm.  BW: 60 kg. BMI: 21.3  BT: 36.5  ํC  BP: 120/80 mmHg.
                        </div>

                    </div>
            </div>

            <div class="flex flex-row  rounded-lg bg-slate-100 shadow-md p-5 w-full mb-5">
                
                <div class="flex flex-col w-full">
                    <div nz-row>
                        <div nz-col nzSpan="100" class="border-2 p-5 w-[50%] font-bold border-indigo-200 border-r-indigo-500">
                            Review of System<br>
                                     
                        
                            

                            <div class="flex flex-col w-[100%]">

                            <div class="flex flex-row">
                                <div class="w-64 p-2">
                                    Gernaral
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>  
                                </div>
                                
                                 
                              </div>

                              <div class="flex flex-row">
                                <div class="w-64 p-2">
                                    HEENT
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>  
                                </div>
                                
                                 
                              </div>

                              <div class="flex flex-row">
                                <div class="w-64 p-2">
                                    HEART
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>  
                                </div>
                                
                                 
                              </div>

                              <div class="flex flex-row">
                                <div class="w-64 p-2">
                                    LUNG
                                </div>
                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>  
                                </div>
                                
                                 
                              </div>

                            </div>
                        </div>
                        <div nz-col nzSpan="12" class="border-2 p-5 w-[50%] font-bold border-indigo-200 border-l-indigo-500">
                            Physical Examination<br>
                                     
                        
                            

                            <div class="flex flex-col w-[100%]">

                            <div class="flex flex-row">
                                
                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>  
                                </div>
                                
                                 
                              </div>

                              <div class="flex flex-row">
                                
                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>  
                                </div>
                                
                                 
                              </div>

                              <div class="flex flex-row">
                                
                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>  
                                </div>
                                
                                 
                              </div>

                              <div class="flex flex-row">
                                
                                <div class="p-2">
                                    <label nz-checkbox>ปกติ</label>  
                                </div>
                                
                                 
                              </div>

                            </div>
                        </div>
                      </div>

                </div>
        </div>





        



    </div>
</nz-content>